*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.loading {
  width: 100vw;
  height: 100vh;

  background-color: darkgoldenrod;
  
  display: flex;
  justify-content: center;
  align-items: center;

 
}

.loading__loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  border: solid 15px;
  border-color: rgba(155, 65, 201, 1)  rgba(155, 65, 201, 0.4) 
   rgba(155, 65, 201, 0.4);

  animation: spin 1s infinite linear;
  /* ease-in-out */
}

.loaded{
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}