body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url(./background.jpg);
}

.nav {
  width: 80vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color : white;
  padding: 0px 12vw;
  position: fixed;
  transition: backgrond-color 500ms, color 500ms 500ms;
  background : linear-gradient( to left,  rgba(42, 10, 48, 0.95),rgba(81, 123, 141, 0.7));
}

.contents {
  justify-content: center;
  margin-top: 20vh;
  height: 620px;
  background : linear-gradient( 115deg,  rgba(42, 10, 48, 0.6),rgba(81, 123, 141, 0.7));
  width: 500px;
}

.contents__title {
  text-align: center; 
  color: #ffffff;
}

hr {
  border: 2px solid #ffffff;
  width: 250px;
}

.contents__signup {
  color: #ffffff;
  justify-content: center;
  width: 500px;
}

input {
    width: 92%;
    padding: 15px;
    margin-top: 10px;
    background: #f1f1f1;
    border: 5px solid #f1f1f1;
  }

  h5 {
    margin: 0px;
  }

  .box {
    height: 100px;
    margin: 10px 15px;
  }

  .checkTrue {
    width: 92%;
    padding: 15px;
    border: 5px solid olivedrab;
  }
  
  .checkFalse {
    width: 92%;
    padding: 15px;
    border: 5px solid rgb(189, 54, 54);
  }

  .signupButton {
    justify-content: center;
    background-color:  rgba(42, 10, 48, 0.7);
    color: white;
    padding: 10px;
    margin: 15px 125px;
    width: 250px;
    border: none;
    border-radius: 3px;
  }
