/node_modules/
/vue01/node_modules/
/vue02/node_modules/
/201914126/node_modules/
/test(1)/node_modules/
/test(2)/node_modules/
/numbers/node_modules
/clock/node_modules
/todo/node_modules
/practice6/test1/node_modules
/practice7/exam1/node_modules
/practice7/exam4/node_modules
/practice7/exam5/node_modules
/practice7/exam6/node_modules
/test(3)/exam1/node_modules
/test(3)/exam4/node_modules
/test(3)/exam5/node_modules
/test(3)/exam6/node_modules